body {
    color: #fff;
    background: #17181c;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
}

.header {
    padding: 10px 30px;
}

.header .title {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.footer {
    background-color: black;
    opacity: 0.9;
    width: 100%;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px 60px 5px 60px;
}

.footer__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__logo-link {
    align-items: center;
    background-color: #30c5ff;
    border-radius: 50%;
    display: flex;
    height: 60px;
    position: relative;
    transition: all 0.5s ease-in-out;
    width: 60px;
}

.footer__logo-link:hover {
    background-color: #3fcc59;
    box-shadow: .2em .7em .8em -0.6em #3fcc59;
    transform: scale(1.2);
}

.footer__logo {
    height: 50px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
}

.footer__github {
    border-radius: 50%;
    height: 65px;
    transition: all 0.5s ease-in-out;
    width: 65px;
}

.footer__github:hover {
    transform: scale(1.2);
    box-shadow: .2em .7em .8em -0.6em #9f3fcc;
}

.footer__designer {
    color: rgb(241, 244, 244);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 20px;
    text-align: end;
}

@media (max-width: 639px) {
    .footer__wrapper {
        padding: 5px 10px;
        transition: 0.5s ease;
    }

    .footer__designer {
        font-size: 14px;
    }

    .footer__logo-link {
        height: 40px;
        width: 40px;
    }

    .footer__logo {
        height: 30px;
        width: 30px;
    }

    .footer__github {
        height: 40px;
        width: 40px;
    }
}